.App {
}

.board-controls {
  margin: 10px auto;
  width: 95%;
  max-width: 600px;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 10px;
}

.board-controls__difficulty {
  display: flex;
  justify-content: space-between;
}

.board-controls__validation {
  display: flex;
  justify-content: space-between;
}

/* buttons */
.btn {
  cursor: pointer;

  transition: all 100ms ease;
}

.btn--min {
  opacity: 0.5;
  background: none;
  outline: none;
  border: none;
}

.btn--min:hover,
.btn--active {
  opacity: 1;
}

/* board */

.board {
  width: 95%;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(9, 11.11%);
  grid-template-rows: repeat(9, 11.11%);
  justify-content: center;
  margin: 10px auto;
  aspect-ratio: 1 / 1;
}

.loading-text {
  grid-column: span 9;
  grid-row: span 9;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px dashed black;
}

/* cells */
.cell {
  background-color: white;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid black;
  outline: none;
  font-size: 150%;
  color: black;
  font-weight: 300;
}

.cell:disabled {
  font-weight: bold;
}

/* columns */
.col0,
.col3,
.col6 {
  border-left: 3px solid black;
}

.col8 {
  border-right: 3px solid black;
}

/* rows */
.row0,
.row3,
.row6 {
  border-top: 3px solid black;
}

.row8 {
  border-bottom: 3px solid black;
}
